# Assignment1
     Clayton Cohn
     April 2, 2020
     DSC478
     Prof. Mobasher

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
DATA_PATH = '/Users/claytoncohn/Dropbox/New/DePaul/DSC478/data/bank_data.csv'

In [28]:
df = pd.read_csv(DATA_PATH, delimiter=',', header=None, names=['id', 'age', 'income', 'children','gender','region',
                                                               'married','car','save_account','current_account',
                                                               'mortgage','pep'])

In [29]:
df.shape
df.sample(10)

,id,age,income,children,gender,region,married,car,save_account,current_account,mortgage,pep
18,ID12118,46,41016,0,FEMALE,SUBURBAN,YES,NO,YES,NO,YES,NO
585,ID12685,33,23528.4,1,MALE,TOWN,YES,NO,YES,YES,YES,YES
145,ID12245,25,18923,1,MALE,INNER_CITY,YES,NO,YES,YES,NO,YES
513,ID12613,63,43943,0,FEMALE,TOWN,YES,YES,YES,YES,YES,NO
236,ID12336,49,16711.3,1,FEMALE,INNER_CITY,NO,NO,YES,YES,YES,YES
68,ID12168,41,34892.9,0,FEMALE,TOWN,NO,NO,YES,YES,YES,NO
586,ID12686,20,9516.91,3,MALE,TOWN,NO,YES,YES,YES,NO,NO
223,ID12323,42,39308.7,1,FEMALE,INNER_CITY,YES,NO,YES,YES,NO,YES
200,ID12300,26,20819,0,FEMALE,INNER_CITY,YES,NO,YES,YES,NO,YES
45,ID12145,20,13740,2,MALE,INNER_CITY,NO,YES,YES,YES,YES,NO