# Final Project - Recommender System

Clayton Cohn<br>
Rosario Fabien<br>
Richard Olekanma

In [1]:
# Original dataset taken from: https://www.kaggle.com/mkechinov/ecommerce-events-history-in-cosmetics-shop?select=2019-Dec.csv
# Original dataset sttributable to: https://rees46.com/

import pandas as pd

DATA_PATH = "/Users/claytoncohn/Dropbox/New/DePaul/DSC478/FinalProject/"

In [2]:
import numpy as np

df = pd.read_csv("cosmetics_data.csv", header=0, names=["product_id", "user_id"])
print(df.shape)
df.head(10)

(79819, 2)

   product_id  user_id
0           0        0
1           1        0
2           2        0
3           3        0
4           4        0
5           5        0
6           6        0
7           7        0
8           8        0
9           9        0

In [3]:
# Create dictionary of all users and transactions

users = {}
for index, row in df.iterrows():
    user = row["user_id"]
    product = row["product_id"]
    if user in users:
        products = users[user]
        products.append(product)
        users.update({ user : products })
    else:
        users.update({ user : [product] })

In [4]:
# Code snippet for printing first n items of dictionary taken from:
# https://stackoverflow.com/questions/7971618/python-return-first-n-keyvalue-pairs-from-dict

from itertools import islice

def take(n, iterable):
    return list(islice(iterable, n))

head = take(10, users.items())

print("{} total users.".format(len(users)))

for row in head:
    print(row)

19209 total users.
(0, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])
(1, [14, 15, 14, 15, 145, 145, 14, 15, 14, 15, 145])
(2, [16])
(3, [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32])
(4, [33, 34])
(5, [35])
(6, [36, 37])
(7, [38, 39, 40, 41])
(8, [42, 43, 44, 45, 46, 47, 34, 42, 43, 44, 45, 46, 34, 42, 43, 44, 45, 46, 34])
(9, [48, 49, 50, 51])

In [5]:
# Create the array of users and products

import numpy as np

data = []
for key, value in users.items():
    user = key
    products = np.array(value)
    prod_unique = np.unique(products)
    
    for i in prod_unique:
        data.append([user, i, np.sum(products==i)])

In [6]:
print("{} user/product combinations.".format(len(data)))
data[:25]

77470 user/product combinations.

[[0, 0, 1],
 [0, 1, 1],
 [0, 2, 1],
 [0, 3, 1],
 [0, 4, 1],
 [0, 5, 1],
 [0, 6, 1],
 [0, 7, 1],
 [0, 8, 1],
 [0, 9, 1],
 [0, 10, 1],
 [0, 11, 1],
 [0, 12, 1],
 [0, 13, 1],
 [1, 14, 4],
 [1, 15, 4],
 [1, 145, 3],
 [2, 16, 1],
 [3, 17, 1],
 [3, 18, 1],
 [3, 19, 1],
 [3, 20, 1],
 [3, 21, 1],
 [3, 22, 1],
 [3, 23, 1]]

In [7]:
df_data = pd.DataFrame(data=data, columns=["user_id", "product_id", "count"])
print(df_data.shape)
df_data.sample(10)

(77470, 3)

       user_id  product_id  count
5760      1171         187      1
21245     4666         117      2
45247    10266         664      1
73376    18033         542      1
5450      1100         135      1
75013    18498          92      1
26488     5819         907      1
18749     4102         107      1
7767      1625         400      2
34095     7589         933      1

In [8]:
df_mat_user = pd.pivot_table(df_data, values="count",index="user_id",columns="product_id")
df_mat_user.head(10)

product_id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Get rid of NaN
df_mat_user = df_mat_user.fillna(0)
df_mat_user.head(10)

product_id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
user_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
users = df_mat_user
products = users.T
print(products.shape)
products

(1000, 19209)

user_id,0,1,2,3,4,5,6,7,8,9,...,19199,19200,19201,19202,19203,19204,19205,19206,19207,19208
product_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

# Compute item-item similarity matrix
products_s = sparse.csr_matrix(products)
item_item_mat = cosine_similarity(products_s)
item_item_mat

array([[1.        , 0.23346753, 0.32280962, ..., 0.        , 0.01504823,
        0.        ],
       [0.23346753, 1.        , 0.31678756, ..., 0.00689721, 0.00873571,
        0.00892359],
       [0.32280962, 0.31678756, 1.        , ..., 0.        , 0.01064071,
        0.        ],
       ...,
       [0.        , 0.00689721, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.01504823, 0.00873571, 0.01064071, ..., 0.        , 1.        ,
        0.02128141],
       [0.        , 0.00892359, 0.        , ..., 0.        , 0.02128141,
        1.        ]])

In [12]:
import operator

# Make recommendation based on user's favorite product
def recommend(user, users, item_item_mat,n):
    
    # Get user's most purchased product
    u = users.T[user]
    prod_index, prod_count = max(enumerate(u), key=operator.itemgetter(1))
    
    # Retrieve top n items closest to user's favorite
    item_item = item_item_mat[prod_index]
    item_item_df = pd.Series(data=item_item)
    item_item_df.sort_values(axis=0, ascending=False, inplace=True)
    
    top = item_item_df[1:n + 1]
    
    return top

In [13]:
top_n = recommend(0, users, item_item_mat, 5)
top_n

2      0.322810
856    0.288942
1      0.233468
4      0.185596
180    0.184966
dtype: float64

In [14]:
# Now that we have the top n products to recommend, let's evaluate the system by seing if the user bought any
def didPurchase(user, users, products, top_n_ind):
    ret_val = 0
    u = users.T[user]
    for i in top_n_ind:
        if u[i] > 0:
            ret_val = 1
            break
    return ret_val

In [15]:
top_n_ind = list(top_n.index)
top_n_ind

[2, 856, 1, 4, 180]

In [16]:
print(didPurchase(0, users, products,top_n_ind))

1

In [17]:
# Now we will do all users and see how many bought their own recommendations

bought_recs = 0
for i in range(len(users)):
    top_n = recommend(i, users, item_item_mat, 5)
    top_n_ind = list(top_n.index)
    if didPurchase(i, users, products,top_n_ind): bought_recs += 1
        
bought_recs

4969

In [18]:
# Now let's get the percentage of people who purchased a recommended product
pct_purchased = bought_recs / len(users)
pct_purchased

0.25868082669581965

In [19]:
'''
This is rather substantial. It says that 1/4 of the time, consumers purchased at least one item that was recommended
to them. Although I have no way of telling how this number stacks up against Amazon, it is nervertheless significant.
'''

'\nThis is rather substantial. It says that 1/4 of the time, consumers purchased at least one item that was recommended\nto them. Although I have no way of telling how this number stacks up against Amazon, it is nervertheless significant.\n'